<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>파일명</title>
  </head>
  <body>
    <div id="app">
      <input type="text" placeholder="이메일입력" v-model="email" />
      <p v-if="emailError">{{emailError}}</p>
      <p v-if="emailValid">유효한 이메일 형식입니다.</p>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script type="text/javascript">
      const { createApp, ref } = Vue;

      const app = createApp({
        setup() {
          const message = ref('Hello Vue!');

          return {
            message,
            email: '',
            emailError: '',
            emailValid: true,
          };
        },
        watch: {},
      });

      const vm = app.mount('#app');
    </script>
  </body>
</html>
